@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins";
@import "vars.scss";

.article-view {
  overflow: hidden;
  text-align: left;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: map-get($theme-colors,"dark");
  border: 1px solid #cccccc;
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: $primary-color;
    content: "";
    z-index: 20;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover,&:focus {
    text-decoration: none;
    color: map-get($theme-colors,"dark");
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    outline: none;
    &::before {
      opacity: 1;
    }
  }
}

.article-view__title {
  text-align: inherit;
  margin-top: 0;
  margin-bottom: 18px;
}

.article-view__snippet {
  text-align: inherit;
  margin-top: 0;
  margin-bottom: 3px;
}

span.searchmatch {
  font-weight: bold;
  font-style: italic;
}